.jumbotron {
    background: url("../assets/images/news.jpg") no-repeat center center;
    background-color: lightblue;
    background-size: cover;
    color: white;
  
  }
  
  .display-4 {
    font-size: 60px;
    font-weight: bolder;
      
  }
  
  .lead {
    font-size: 40px;
    font-weight: bolder;
  }
  
  .btn-primary {
    background-color: #119c73c5;
    color: white !important;
  }
  
  .note-item-list {
    padding: 5px;
  }
  .card-body{
    background: rgb(106, 196, 231);
  }